body {
    font-family: sans-serif;
    margin: 0;
}

.black{
    height: 10%;
    width: inherit;
    background-color: black;
    color: #999999;
    padding: 10px 0 10px 50px ;
    font-size: small;
}
.main{
    height: 90%;
    width: inherit;
    display: flex;
    flex-direction: column;

}
.list_body{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60%;
    background-color: white;
    color: darkslateblue;
    position: absolute;

}
.input_div{
    padding: 10px 50px;
}
h1 {
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
    width: 70%;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 1px;
    position: relative;
}

li:hover {
    background-color: #f9f9f9;
}

li input {
    margin-right: 10px;
}

li label {
    cursor: pointer;
}

li .delete-task {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #999;
    font-size: 16px;
}

li .delete-task:hover {
    color: red;
}

#new-task {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 10px;
}

#add-task {
    padding: 10px;
    margin-left: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color: darkslateblue;
    color: #fff;
}

#add-task:hover {
    background-color: #333;
}

.done {
    text-decoration: line-through;
}
