<div class="catalogue" >
  <h3>
    <a [title] = "product.name + ' details'"
       href = "{{product.link}}">
      {{product.name}}
    </a>
  </h3>

  <div class="image-path" >
    <div class="gallery" *ngFor="let images of product.image">
      <img class="product-img" src="{{images}}" alt="product image">
    </div>
  </div>
  <p *ngIf="product.description">
    <strong>Description:</strong> {{product.description}}
  </p>
  <p>Price: {{product.price + 'тг.'}}</p>
  <p>★ {{product.rating}}<br></p>
  <span class="likes"  (click)="putLike()">❤️ {{product.likes}}</span><br><br>
  <button type="button" (click)="share(product.id)">
    Share
  </button>
  <button class= "deletebtn" type="button" (click)="onRemove()">Delete</button>

</div>
