<h2>Products</h2>

<div class="catalogue" *ngFor = "let product of products">
  <h3>
    <a [title] = "product.name + ' details'"
       href = "{{product.link}}">
      {{product.name}}
    </a>
  </h3>

  <div class="image-path" >
    <div class="gallery" *ngFor="let images of product.image">
      <img class="product-img" src="{{images}}">
    </div>
  </div>


  <p *ngIf="product.description">
    Description: {{product.description}}
  </p>

  <button type="button" (click)="share()">
    Share
  </button>
  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>
</div>
