body{
  background-color: black;
  margin: 0;
  font-family: fantasy;
}

button{
  height: 50px;
  border-radius: 15px;
  font-family: fantasy;
  border: none;
  padding: 0 20px;
  background-color: lightblue;

}
button:hover{
  border: solid 2px orange;
  background-color: lightcyan;
  color: black;
}
hr{
  border-color: lightblue;
  margin: 0;
}
