
<section>
  <div class="img">
    <img class="bg_photo" [src]="movie.Poster">
  </div>
  <div class="bg">
  </div>

  <section class="card">
    <div *ngIf="loaded" class="info">
      <img [src]="movie.Poster" >

      <ul >
        <li *ngFor="let entry of movie.Ratings">
          ⭐<strong>{{ entry.Source }}</strong>: {{ entry.Value }}
        </li>
      </ul>
      <p><strong>Genre:</strong> {{movie.Genre}}</p>
      <p><strong>Year:</strong> {{movie.Year}} </p>
      <p><strong>Runtime:</strong> {{movie.Runtime}}</p>
      <p><strong>Director:</strong> {{movie.Director}}</p>
      <p><strong>Writer:</strong> {{movie.Writer}}</p>
      <p><strong>Actors:</strong> {{movie.Actors}}</p>
      <p><strong>Plot:</strong> {{movie.Plot}}</p>




    </div>
    <div *ngIf="!loaded">
      Loading...
    </div>
  </section>
</section>


